<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.infrastructure.mybatis.AccountMapper">
  <select id="getAllAccount" resultType="com.example.demo.domain.entity.AccountEntity">
    select c.id, c.cifid , c.imtcode , c.marginbuy , c.marginsell, c.lastchange updatedTime,c.lastchange createdTime from cfmargin c where c.status='A';
  </select>
</mapper>
