<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.infrastructure.mybatis.TranslogMapper">

  <insert id="insertBatch" parameterType="java.util.List">
    INSERT INTO translog (imtcode, buy_currency, sell_currency, bid, ask, created_time, updated_time) VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.imtcode}, #{item.buyCurrency}, #{item.sellCurrency}, #{item.bid}, #{item.ask}, #{item.createdTime}, #{item.updatedTime})
    </foreach>
  </insert>

</mapper>
